<p>My recent research work focuses on:</p>

<p>
  <b>Collecting and analyzing mobility data</b>: In recent research, accessing
  significant and mindful data has become important to any study. This is
  particularly true in studies on understanding and analyzing people's mobility.
  Unfortunately, the research community is facing significant challenges in
  accessing such data. Among possible mobility data sources, wireless networks
  play an essential role since they offer detailed information about user
  movements and behaviors. The datasets obtained from such networks provide
  valuable insights for a large set of applications such as network optimization
  and urban planning.
</p>

<p>
  <b>Resource allocation at the Edge </b>: The rapidly evolving mobile Internet
  landscape, ultra-responsive and interactive applications are becoming the
  norm. These applications are characterized by their need for minimal latency
  and high computational requirements. Computation offloading is possible for
  these applications by transferring all or part of the resource-intensive
  computational tasks to a remote server at the network's Edge. Compared to
  cloud offloading, the benefit of edge offloading is the gain in end-to-end
  delay, which is essential for time-sensitive applications. However, several
  challenges remain, particularly their sensitivity to mobility and varying
  network conditions.
</p>
